* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100vh;
    width: 100vw;
    background-color: #414068;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myForm {
    display: flex;
}

#leftBox,
#rightBox {
    height: 380px;
    width: 300px;
    background-color: #4E61BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 0 40px;
}

span {
    font-size: 0.7rem;
    color: #3D489B;
}

input {
    color: #41444d;
    padding: 10px;
    background-color: #778be4;
    border: none;
    margin: auto;
    border-radius: 10px;
}

button {
    border: 2px solid #0EC1F2;
    background-color: #0EC1F2;
    border-radius: 20px;
    padding: 7px;
    width: 120px;
    margin: auto;
    color: #FDFEFC;
}

h2 {
    margin: 20px 0;
    color: #FDFEFC;
}

a {
    color: #1CABE1;
    text-decoration: none;
}